<template lang="pug">
    v-app
        v-flex.mx-auto
            v-btn.ma-3(v-for="(city, index) in cities"  @click="choseCity(city)" :key="index" :loading="loading") {{city.name}}
        v-flex.mx-auto
            v-card.mx-auto(v-if="weatherInfo.main")
                v-card-title.display-3 {{chosenCity.name}}
                v-card-subtitle.headline.mt-3(v-for="(info , i) in weatherInfo.weather" :key="i") {{info.description}}
                    v-icon(v-if="info.main === 'Clouds'").ml-3 mdi-cloud
                    v-icon(v-else) mdi-white-balance-sunny
                v-card-text.display-1 Temperature : {{weatherInfo.main.temp}} °C
                v-card-text.display-1  Atmospheric pressure : {{weatherInfo.main.pressure}} hPa
                v-card-text.display-1  Humidity {{weatherInfo.main.humidity}} %
                v-card-text.display-1  Wind Speed {{weatherInfo.wind.speed}} meter/sec
                v-card-text.display-1  Wind direction {{weatherInfo.wind.deg}}  °
</template>

<script>
    import axios from 'axios'

    export default {
        name: 'App',

        data: () => ({
            cities: [
                {
                    id: 703447,
                    name: 'Kyiv'
                },
                {
                    id: 2643743,
                    name: 'London'
                },
                {
                    id: 5128638,
                    name: 'New York'
                },
            ],
            loading : false,
            chosenCity: {id: 703447, name: 'Kyiv'},
            apiKey: 'c2dcf8ffb5cdc3f8977bfd2ae7ea4738',
            weatherInfo: {},
        }),
        created() {
            this.getWeatherInfo()
        },
        methods: {
            choseCity(city) {
                this.chosenCity = city
                this.getWeatherInfo()
            },
            getWeatherInfo() {
                this.loading = true
                axios.get(`https://api.openweathermap.org/data/2.5/weather?id=${this.chosenCity.id}&units=metric&appid=${this.apiKey}`)
                    .then(res => {this.weatherInfo = res.data; this.loading = false })
            }
        }
    };
</script>

<style lang="scss">

</style>